<div class="container mt-4" *ngIf="suggestion">

  <h2 class="fw-bold">{{ suggestion.title }}</h2>

  <p class="text-muted">
    {{ suggestion.category }} |
    {{ suggestion.date | date:'dd MMM yyyy' }}
  </p>

  <p class="mt-3">
    {{ suggestion.description }}
  </p>

  <span class="badge bg-warning text-dark">
    {{ suggestion.status | uppercase }}
  </span>

  <div class="mt-4">

    <button class="btn btn-secondary me-2" (click)="back()">
      ⬅ Retour
    </button>

    <button class="btn btn-warning me-2" (click)="updateSuggestion()">
      ✏ Update
    </button>

    <button class="btn btn-danger" (click)="deleteSuggestion()">
      🗑 Supprimer
    </button>

  </div>

</div>